.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.modal-dialog {
  max-width: 700px;
}
.assign-button-area {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.assign-button-area button {
  margin-left: 20px;
}

.bg-yellow{
  background-color: yellow !important;
}

.fixed-header {
  position: fixed;
  top: 0;
  left:500px;
  width: 135px;
  z-index: 1000;
  /* Ensure it stays on top */
  /* background-color: white; */
  /* Optional: to ensure it's visible against the content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Optional: adds a shadow for better visibility */
  padding: 10px 0;
  /* Optional: add some padding */
}

.fixed-header Container {
  display: flex;
  justify-content: space-between;
  /* Optional: adjust as needed */
}

.submit-button{
  z-index: 1000
}